.process-title {
    display: flex;
    align-items: center;
}

img {
    margin-right: 10px; 
}

@media only screen and (max-width: 600px) {
    .process-title {
        flex-direction: row; 
        align-items: center;
    }

    img {
        margin-right: 10px;
        margin-bottom: 0;
    }
}