.container-line {
    width: 80%;
    margin:20px auto;
    position: relative;
    overflow: hidden;
 }
 
 .container-line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    margin-left: -2px;
    margin-top:20px;
    width: 3px;
    height: 83%;
    background: #84B3C5;;
    z-index: 1
 } 
 
 .icon-content {
    position: absolute;
    left: 2%;
 }
 
 .icon-content img {
    width: 50px;
    height: 50px;
    transition: width 0.3s, height 0.3s; /* smooth transition */
 }
 
 .process-block {
    width: -webkit-calc(80% + 8px);
    width: -moz-calc(80% + 8px);
    width: calc(80% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .process-block-right {
    float: right;
 }
 
 .marker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #84B3C5;;
    background: white;
    margin-top: 10px;
    z-index: 1;
 }
 
 .process-content {
    width: 95%;
    padding: 0 15px;
    color: #666
 }
 
 .process-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }
 
 .process-content span {
    font-size: 15px;
    color: #a4a4a4;
 }
 
 .process-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }
 
 
 @media screen and (max-width: 768px) {
    .container-line:before {
       left: 8px;
       width: 2px;
    }
    .process-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .process-block-right {
       float: none;
    }
    .icon-content{
     position:relative;
     /* display:none; */
    }
    .container-line:before {
        height:82%;
    }
 }